---
import { SITE_NAME } from "@/constants";
---

<div
  class="absolute left-8 small-landscape:left-8 sm:left-24 small-landscape:top-2 top-2 sm:top-8"
>
  <div
    class="text-xs small-landscape:text-xs sm:text-xl text-stone-500 dark:text-stone-300 font-bold"
  >
    <h1>{SITE_NAME}</h1>
  </div>
</div>
