<footer
  class="flex justify-end text-xs text-stone-500 dark:text-stone-400 sm:-mt-12 -mt-10 small-landscape:-mt-10 pr-8 pt-5 small-landscape:pt-5 small-landscape:pr-8 sm:pt-0 sm:pr-24"
>
  <p class="leading-none">
    &copy; {new Date().getFullYear()}
    <a href="https://renrizzolo.com">Ren Rizzolo</a>
  </p>
</footer>
